**/ros_bridge/
**/lanelet2/
.idea/
**/.gradle/

*.class
**/build/*.jar
*.war
*.ear

stars-storage/
ROS_BAGS/

java_analysis/**/bin/**
java_analysis/**/build/**

python_bridge/lanelet2_custom.Dockerfile
python_bridge/lanelet2/**
python_bridge/ros_bridge/
python_bridge/json_files/
python_bridge/build/
python_bridge/install/
python_bridge/log/
python_bridge/stars-reproduction-source.zip
influxdb2/
grafana*/
images/**
*.out
